ha.env
home-assistant/docker-compose.yml
home-assistant/frigate/config/config.yml
home-assistant/frigate/config/*.db
home-assistant/frigate/config/*.db-shm
home-assistant/frigate/config/*.db-wal
home-assistant/frigate/config/.exports
home-assistant/frigate/config/.jwt_secret
home-assistant/frigate/config/.timeline
home-assistant/frigate/config/.vacuum
home-assistant/zigbee2mqtt/database.db
