[Unit]
Description=Homelab Media Stack
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=10s
WorkingDirectory=/home/compton/repos/Homelab
ExecStart=/home/compton/repos/Homelab/launch.bash home-media-docker start
ExecStop=/home/compton/repos/Homelab/launch.bash home-media-docker stop

[Install]
WantedBy=multi-user.target
