# Data directory for volumes
DATA_DIR=

# Eufy Security
EUFY_USERNAME=
EUFY_PASSWORD=
EUFY_PORT=

# Reolink camera (Frigate)
REOLINK_USERNAME=
REOLINK_PASSWORD=

# ESPHome dashboard
ESPHOME_USERNAME=
ESPHOME_PASSWORD=
