[Unit]
Description=Homelab Home Assistant Stack
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=10s
WorkingDirectory=__HOMELAB_ROOT__
ExecStart=__HOMELAB_ROOT__/launch.bash home-assistant start
ExecStop=__HOMELAB_ROOT__/launch.bash home-assistant stop

[Install]
WantedBy=multi-user.target
